body {
  font-family: Arial, sans-serif; /* Selecciona una fuente legible */
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
